:root {
  --primary-text-color: #434455;
  --tittle-text-color: #2e2f42;
  --primary-white-color: #fff;
  --accent-color: #4d5ae5;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
ul {
  list-style: none;
}
/* logo */
.logo {
  color: var(--tittle-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo1 {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1, 16;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* site nav */
.site-nav .link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color); 
   
}
.site-nav-list {
  color: var(--tittle-text-color);

}
.site-nav-list .link{text-decoration: none;}
.contact-nav-list .email,
.contact-nav-list .tel
{text-decoration: none;
color: var(--primary-text-color);
}

.contact-nav-list .email:hover,
.contact-nav-list .email:focus {
  color: var(--accent-color);
}
.contact-nav-list .tel:hover ,
.contact-nav-list .tel:focus {
  color: var(--accent-color);
}
.bgr { background-color: #F4F4FD;}
/* hero */
.hero-tittle {
  color: var(--primary-white-color);
  font-style: 400;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  text-align: center;
}

.solutions { background-color:#2e2f42 ;}

/* section */
.section-tittle {
  color: var(--tittle-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  text-align: center;
}
.benefits .tittle,
.team .team-tittle {
  color: var(--tittle-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
}
.benefits .text,
.team .text,
.footer .text,
.hero .button
 {font-weight: 400;
    font-size: 16px;
    line-height: 1,5;}
.section .cards-team{background-color: var(--primary-white-color);}
 
/* Button */
.button {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
  font-family: inherit;
  text-decoration: none;
  cursor:pointer;
}


.colorize { background-color: #2e2f42;}

/* portfolio */
.buttons-portfolio .button :hover,
.buttons-portfolio .button :focus {
  color: var(--primary-text-color);
}


